  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');


body{
  height: 100vh;
  padding-top: 100px;
  font-family: 'Inter', sans-serif;
}

.container{
  padding-top: 100px;
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;

}

.section__news {
}
